
$text-color: #ffffff;
$nav-btn-bg-color: #B1B0B0;

@mixin nav-btn {
  position: absolute;
  top: 50%;
  background-color: $nav-btn-bg-color;
  height: 60px;
  width: 60px;
  color: $text-color;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sink.jpg");
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: $text-color;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 10px;
    z-index: 1;

    img {
      height: 50px;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;


      .nav-links{
        display: flex;
        justify-content: space-between;

        .right-links{
          margin-left: 10px;
          font-weight: lighter !important;
        }
      }

      li {
        display: inline-block;
        list-style: none;
      }


      a {
        color: $text-color;
        text-decoration: none;
        padding: 3px 10px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: bolder;
      }



      .vertical-bar {
        padding-right: 10px;
        border-right: 3px solid $text-color;
        height: 50px;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          display: none;
        }
      }

      .show {
        display: block !important;
      }

    }

  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-color;

  h1 {
    font-size: 5vw;
  }

}


.see-more {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-color;
  border-bottom: 2px solid $text-color;

  p {
    margin: 30px 0 20px;
    font-size: 20px;
  }
}

.left-circle {
  @include nav-btn;
  left: 5%;
}

.right-circle {
  @include nav-btn;
  right: 5%;
}


@media screen and (max-width: 1260px) {
  .hero-image {
    header {
      nav {
        display: block;
        align-items: center;
        justify-content: space-between;

        .logo {
          a {
            display: block;
          }
        }

        li {
          display: block;
          list-style: none;
          margin-top: 10px;
        }

        .right-links{
          margin-left: 0 !important;
        }

        .nav-links {
          display: none;
        }


        .vertical-bar {
          border-right: none;
        }
      }
    }
  }
}