.newprods {
  height: auto;
  padding: 40px 0 30px;
  background-color: #ffffff;

  .newprods-title {
    font-size: 24px;
    text-align: center;
  }

  .prd-item {
    cursor: pointer;

    span {
      display: block;
    }

    .txt-one {
      text-align: center;
      font-size: 20px;
      color: #000000;
      margin: 10px 0;
    }

    .txt-two {
      text-align: center;
      font-size: 18px;
      color: #B3B3B8;
    }
  }


  .new-prod-img {
    width: 100%;
    object-fit: contain;
    max-height: 300px;
  }

  .prod-img-item {
    position: relative;

    .prod-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #17704A;
    }

    .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      color: #ffffff;
      padding-bottom: 10px;
      border-bottom: 2px solid #ffffff;
    }
  }

  .prd-item:hover .prod-overlay {
    opacity: 0.8;
  }


  .new-prod-gallery {
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }


  @media screen and (min-width: 768px) {
    .newprods {
      height: 105% !important;
    }
    .newprods-title {
      text-align: left !important;
    }
    .new-prod-gallery {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 100px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }

    .txt-one {
      text-align: left !important;
    }

    .txt-two {
      text-align: left !important;
    }
  }


  @media screen and (min-width: 1024px) {
    .newprods {
      height: 105% !important;
    }
    .newprods-title {
      text-align: left !important;
    }

    .new-prod-gallery {
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 100px;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
    }

    .txt-one {
      text-align: left !important;
    }

    .txt-two {
      text-align: left !important;
    }
  }

  .view-products-btn {
    margin: 60px auto;
    background-color: #000000;
    padding: 15px 30px;
    color: #ffffff;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
  }


}