$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: auto;
}

/*hero section*/
@import "hero-section";

/*new collection*/
@import "new-collection-section";

/*new products*/
@import "new-products-section";

/*interior design*/
@import "interior-design-section";


/*our partners*/
@import "our-partners-section";

/*news letter*/
@import "news-letter-section";

/*footer*/
@import "footer-section";

